   <!DOCTYPE html>
   <html>
       <head>
        <title>Final Exam Summer 2021</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Bootstrap link -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        
       </head>
       <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Crime Data App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Home/templates/Home/Home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Contact/templates/Contact/Contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="aling-content-center py-2 text-center">
            <h3 class='mt-5'>HOME PAGE</h3>
            <div class="container mt-5">
                <form class="py-2  border border-dark">
                    <div class="row row-cols-1 row-cols-lg-2 ">
                        <div class="col">
                            <input class="form-input d-inline" type="file" id="txtFileUpload" value="Choose file"/>
                        </div>
                        <div class="col py-md-1 py-sm-1">
                            <input class="btn btn-primary d-inline" type="button" id="upload" value="Display top 100 rows" onclick="displayTopRows()" />
                        </div>
                    </div>
                </form>
                <hr />
                <div class="table-active align-self-center" id="dvCSV">
                </div>
            </div>
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="text-center" id="headers">
                            <!--headers go here-->
                        </thead>
                        <tbody id="entries">
                            <!--results go here-->
                        </tbody>
                   
                    </table>
                </div>
            </div>
      
            <pre id="output"></pre>
        </main>
       </body>
<script type="text/javascript">
        var csvData;
        var csvArray;
         document.getElementById('txtFileUpload')
            .addEventListener('change', function() {
          
        var fr=new FileReader();
        fr.onload=function(){
            alert('File uploaded');
            csvData=fr.result;
            csvArray=csvtoArray(csvData);
            //document.getElementById('output')
                    //.textContent=fr.result;
        }
        
        fr.readAsText(this.files[0]);})

        //Parses csv to javascript array 
        function csvtoArray(str,delimeter=","){
            const headers=str.slice(0,str.indexOf("\n")).split(delimeter);
            const rows= str.slice(str.indexOf("\n")+1).split("\n");
            const arr=rows.map(function(row){
                const values=row.split(delimeter);
                const el=headers.reduce(function(object,header,index){
                    object[header]=values[index];
                    return object;
                },{});
                return el;
            });
            return arr;
        }

        //Display top rows
        function displayTopRows(array=csvArray){
            let numberOfRows = array.length;
            let numberOfColumns=Object.keys(array[0]).length;
            let templateHeader=''
            let templateRow=''
            let table=''
            //Write table headers 
            for(var key in array[0]){
                templateHeader+=`<th>${key}</th>`;
            }
            table+=`<tr>${templateHeader}</tr>`;
            document.getElementById("headers").innerHTML=table;
            table=''
            if(numberOfRows<100){
                for(let i=2;i<numberOfRows-1;i++){
                    for(var key in array[0]){
                        var cell=array[i][key];
                        console.log(cell);
                        templateRow+=`<td>${cell}</td>`
                    }
                    templateRow=`<tr>${templateRow}</tr>`
                    table+=templateRow;
                    document.getElementById("entries").innerHTML=table;
                    templateRow='';
                }
            }else{
                for(let i=2;i<99;i++){
                    for(var key in array[0]){
                        var cell=array[i][key];
                        console.log(cell);
                        templateRow+=`<td>${cell}</td>`
                    }
                    templateRow=`<tr>${templateRow}</tr>`
                    table+=templateRow;
                    document.getElementById("entries").innerHTML=table;
                    templateRow='';
                }

            }
        }
</script>

</html>

